<!-- <div class="main-content"> -->
<h1 mat-dialog-title>Create a link</h1>

<mat-dialog-content>
    <h2>Expiration</h2>
    <!-- <form #addShareForm="ngForm" (ngSubmit)="onSubmit()"> -->
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="expiry">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Time</mat-label>
        <input matInput [matTimepicker]="timepicker" [(ngModel)]="expiry" [ngModelOptions]="{updateOn: 'blur'}">
        <mat-timepicker #timepicker />
        <mat-timepicker-toggle [for]="timepicker" matSuffix />
    </mat-form-field>

    <!-- </form> -->

    <h2>Shortcuts</h2>
    <button (click)="setPicker(24)" mat-button color="primary">
        24 hours
    </button>
    <button (click)="setPicker(48)" mat-button color="primary">
        2 days
    </button>
    <button (click)="setPicker(168)" mat-button color="primary">
        1 week
    </button>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button (click)="this.dialogRef.close()">Cancel</button>
    <button mat-raised-button (click)="create()" color="primary">Create</button>
</mat-dialog-actions>

<!-- </div> -->